{% extends "layout.html" %}




{% block content %}


<div class="row">
	<div class="col-md-12 col-lg-7"> 
		<div class="login container m-5 pr-5 bg-light card m-auto">
			
			<div class="row p-3">
				<div class="container center_left col-12">
					<form method="POST" action="">
						{{ form.hidden_tag() }}
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">
								Sign In Now
							</legend>
							<div class="form-group">
								{{ form.email.label(class="form-control-label")}}
								{% if form.email.errors %}
									{{ form.email(class="form-control form-control-lg is-invalid")}}
									<div>
										{% for error in form.email.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ form.email(class="form-control form-control-lg")}}
								{% endif %}


								
							</div>
							<div class="form-group">
								{{ form.password.label(class="form-control-label")}}
								{% if form.password.errors %}
									{{ form.password(class="form-control form-control-lg is-invalid")}}
									<div>
										{% for error in form.password.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ form.password(class="form-control form-control-lg")}}
								{% endif %}
							</div>
							<div class="form-check">
								{{ form.remember(class="form-check-input")}}
								{{ form.remember.label(class="form-control-label")}}
							</div> 
						</fieldset>
						<div class="form-group">
							<div class="row">
								<div class="col-6">
									<a href="/forgot_password" class="btn btn-outline-danger" role="button">Forgot password</a>
								</div>
								<div class="col-6">
									{{ form.submit(class='btn btn-success float-right')}}
								</div>
							</div>
						</div>
					</form>					
				</div>
			 
				<div class="or col-12 text-center">
					<p>OR</p>
				</div>

				<div class="center_right col col-6 text-center">
					<div class="text-center ml-0" id="google_api">
						<a href="/google_login" >
							<img class="img-fluid image_normal img-fluid" src="{{url_for('static', filename='images/google_login.png')}}" alt="GOOGLE LOGIN">
						</a>
					</div><br>
				</div>
			
				<div class="text-center col-12 m-auto">
					<a href="{{ url_for('auth.registration_form') }}">
						<button type="button" class="btn btn-outline-dark">
						Do not have an account? Register!
						</button>
					</a>
				</div>
			</div>
		</div>
</div>
<style type="text/css">
	.image_normal{
		height: 75px;
		position: relative;
        display: inline-block;
	}
</style>




{% endblock %}
