<!DOCTYPE html>
<html>
<head>
	<title>Password Reset Email</title>
	<style>
		.body {
			background-image: linear-gradient(to right , #1FBFCA , #E8C718);
		}
		.heading {
			color: #DC004B;
			text-align: center;
			padding-top: 4%;
		}
		.mail_body {
			background-color: white;
			margin: 5%;
			padding: 4%;
			border-radius: 10px;
			color: black;

		}
		
		.footer {
			padding: 2%;
			color: #494936;
		}
	</style>
</head>
<body>
	<div class="body">
        <div class="heading">
            <h1><strong>KHARCHAKHATA</strong></h1>
        </div>
        <div class="mail_body">
            <h3>
            <p class="hi_body"><strong>Hey. ${PERSON_NAME}</strong></p>

            <p>I’m Shakib, the developer of Kharchakhata.com and I’d like to personally thank you for signing up to our service.</p>

            <p>We made this website to maintain and visualize your expense in a more efficient manner..</p>

            <p>I’d love to hear what you think of kharchakhata.com and if there is anything we can improve. If you have any questions, please reply to sakibmondal7@gmail.com. I’m always happy to help!</p>

            <p>Your account is created successfully.</p>

            <p>Cheers from</p>

            <p>Kharchakhata Team</p>
            <h3>
        </div>
        <div class="footer" >
            <p>For more information visit kharchakhata.com.</p>
            <p>This is a system generated mail.Please do not reply.</p>
            <p>For any problem please mail your problem on sakibmondal7@gmail.com</p>
        </div>
    </div>
</body>
</html>