{% extends "layout.html" %}


{% block title %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/about.css' )}}">
{% endblock title %}

{% block content %}
	<div class="about_the_app">
		<h3><strong>About The Application.</strong></h3>
		<p>This application is made to keep track of all your expences and show you the interesting facts from your expenditure details and help you to maintain your wallet in a efficient way.</p>
	</div>
	<div class="about_the_developer">
		<h3><strong>About The Developer.</strong></h3>

		<div class="dp1">
			<img src="https://drive.google.com/uc?export=download&id=1p4LEqOLKgtwSJxBS7qMtPL4JBlm2qA_0" width="300" height="300">
		</div>
		<div class="about_developer_text">
			<p><h3>PROFILE</h3></p>

			<p>I am a 20-year-old Computer Science Engineering student from Government College of Engineering and Leather Technology graduating in the year 2021. With all the elementary subjects in engineering, I have a great interest in Machine Learning And Data Science. And looking forward to have a carrier in this Sector.</p>

			
			<div class="container-fluid">
				<div class="row">
					<div class="card card-body col-md-4 col-sm-5 col-lg-2 bg-primary">
						<a class="btn" href="https://www.linkedin.com/in/shakib-mondal">LINKED IN</a>						
					</div>

					<div class="card card-body col-md-4 col-sm-5 col-lg-2 bg-success">
						<a class="btn" href="https://github.com/SkeyRahaman">GITHUB</a>						
					</div>

					<div class="card card-body col-md-4 col-sm-5 col-lg-2 bg-danger">
						<a class="btn" href="https://medium.com/@shakibmondal">MEDIUM</a>					
					</div>

					<div class="card card-body col-md-4 col-sm-5 col-lg-2 bg-warning">
						<a class="btn" href="https://www.hackerrank.com/Shakib_Mondal?hr_r=1">HACKERRANK</a>
					</div>

					<div class="card card-body col-md-4 col-sm-5 col-lg-2 bg-info">
						<a class="btn" href="https://www.facebook.com/sakib.mondal.73">FACEBOOK</a>					
					</div>
				</div>
			</div>
		</div>

		<div class="card p-3 bg-light">
			<strong>
				Special Thanks To Nitish sir for giving me this wonderful idea to make a data-science based on a real-life problem.
			</strong>
			<div>
				<div class="thanks_photo m-2">
					<img src="{{url_for('static' , filename = 'images/nit.jpg' )}}" alt="photo" width="200" height="200">
				</div>
				<div>
					<p><strong>Nitish Singh</strong></p>
					<p>Head Of Technical Services</p>
					<p>Mywbut.com</p>

				</div>
			</div>
		</div>
	</div>
{% endblock %}