<!DOCTYPE html>
<html>
<head>
		{% if title %}
			<title>KharchaKhata - {{ title }}</title>
		{% else %}
			<title>KharchaKhata</title>
		{% endif %}
		<link rel="icon" href="https://pngimg.com/uploads/letter_k/letter_k_PNG69.png" type="image/png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		

		{% block title%}
		{% endblock %}


		<style>
			.heading {
				background-image: linear-gradient(to right , #1FBFCA , #E8C718);
				padding-bottom: 10px;
				margin-bottom: 10px;
				font-size: 40px;
			}
			.heading a{
				color: #DC004B;
			}
			.heading a:hover{
				color: #DC004B;
			}
			.footer{
				 background-image: linear-gradient(to right , #1FBFCA , #E8C718);
				 margin-top: 10px;
				 padding-bottom: 10px;
				 padding-top: 10px;
				 position: fixed;
				 bottom: 0;
				 width: 100%;
			}
			.heading #name_app{
				text-align: right;
			}
			body {
				padding-bottom: 5%;
				margin-bottom: 5%;
			}
		</style>
</head>
<body>
	<nav class="navbar heading">
	    <strong id="name_app"><a href="/">KHARCHAKHATA</a></strong>
	    {% if current_user.is_authenticated %}
	    	<strong id="my_account"><a href="/my_account">Hi! {{ current_user.fname }}</a></strong>
	    {% else %}
	    	<div>
	    		<div class="row">
	    				<a href="{{ url_for('home')}}">
	    					<button class="btn text-danger"><strong>Login</strong></button>
	    				</a>
	    			
	    				<a class="mx-auto" href="{{url_for('auth.registration_form')}}">
	    					<button class="btn text-danger"><strong>Sign Up</strong></button>
	    				</a>
	    			
	    				<a href="{{url_for('about')}}">
	    					<button class="btn text-danger"><strong>About</strong></button>
	    				</a>
	    		</div>
	    	</div>
	    {% endif %}
	</nav>


	{% if current_user.is_authenticated %}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
	            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNav">
		        <ul class="navbar-nav">



		        	{% if title == "Dashboard" %}
			            <li class="nav-item active">
			                <a class="nav-link" href="/"><strong>Dashboard</strong></a>
			            </li>
			        {% else %}
			        	<li class="nav-item">
			                <a class="nav-link" href="/"><strong>Dashboard</strong></a>
			            </li>
			        {% endif %}



		            <li class="nav-item">
		                <a class="nav-link" href="/dashapp/"><strong>Charts</strong></a>
		            </li>



		            {% if title == "My Account" %}
			            <li class="nav-item active">
			                <a class="nav-link" href="/my_account"><strong>My Account</strong></a>
			            </li>
		            {% else %}
		           		<li class="nav-item">
			                <a class="nav-link" href="/my_account"><strong>My Account</strong></a>
			            </li>
		            {% endif %}



		            {% if title == "Add Transaction" %}
			            <li class="nav-ite active">
			                <a class="nav-link" href="/add_expence"><strong>Add Transaction</strong></a>
			            </li>
		            {% else %}
			            <li class="nav-item">
			                <a class="nav-link" href="/add_expence"><strong>Add Transaction</strong></a>
			            </li>
			        {% endif %}



			        {% if title == "About" %}
			            <li class="nav-item active">
			                <a class="nav-link" href="/about"><strong>About</strong></a>
			            </li>
		            {% else %}
		            	<li class="nav-item">
			                <a class="nav-link" href="/about"><strong>About</strong></a>
			            </li>
			        {% endif %}



			        {% if title == "Settings" %}
			            <li class="nav-item active">
			                <a class="nav-link" href="/settings"><strong>Settings</strong></a>
			            </li>
			        {% else %}
			            <li class="nav-item">
			                <a class="nav-link" href="/settings"><strong>Settings</strong></a>
			            </li>
			        {% endif %}



		            <li class="nav-item">
		                <a class="nav-link" href="/logout"><strong>Logout</strong></a>
		            </li>
		            

		            {% if title == "Dashboard" %}
			            <li class="nav-item">
			                <div class="btn-group">
			                    <button type="button" class="btn btn-default dropdown-toggle nav-link" data-toggle="dropdown"
			                            aria-haspopup="true" aria-expanded="true">
			                        Select Month
			                    </button>
			                    <div class="dropdown-menu">
			                    	<a class="dropdown-item" href="/dashboard/all/all">All</a>
			                        {% for i in months %}
			                        <a class="dropdown-item" href="/dashboard/{{i[0]}}/{{i[1]}}">{{i[0]}}  {{i[1]}}</a>
			                        {% endfor %}
			                    </div>
			                </div>
			            </li>
			        {% endif %}
		            
		        </ul>
		    </div>
		</nav>
	{% endif %}




		<!--  
		Flash Message
		-->
	{% with messages = get_flashed_messages(with_categories = true ) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }} row col-7 mx-5 mt-2">
					{{ message}}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}	





	{% block content %}
	{% endblock %}

	<div class="footer text-center">
		<a href="http://shakib-portfolio-app.herokuapp.com/">
			<div class="btn">
			A Complete Project By Md Shakib Mondal
			</div>
		</a>
	</div>

	{% block script %}
	{% endblock %}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>