{% extends "layout.html" %}

{% block content %}
<div class="row">
	<div class="col-7">
		<div class="container mx-4 card p-3">
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">
						Register Now
					</legend>
					<div class="form-group">
						{{ form.fname.label(class="form-control-label")}}
						{{ form.fname(class="form-control form-control-lg")}}
					</div>
					<div class="form-group">
						{{ form.mname.label(class="form-control-label")}}
						{{ form.mname(class="form-control form-control-lg")}}
					</div>
					<div class="form-group">
						{{ form.lname.label(class="form-control-label")}}
						{{ form.lname(class="form-control form-control-lg")}}
					</div>
					<div class="form-group">
						{{ form.email.label(class="form-control-label")}}
						{{ form.email(class="form-control form-control-lg")}}
					</div>
					<div class="form-group">
						{{ form.dob.label(class="form-control-label")}}
						{{ form.dob(class="form-control form-control-lg")}}
					</div>
					<div class="form-group">
						{{ form.password.label(class="form-control-label")}}
						{{ form.password(class="form-control form-control-lg")}}
					</div>
					<div class="form-group">
						{{ form.cpassword.label(class="form-control-label")}}
						{{ form.cpassword(class="form-control form-control-lg")}}
					</div>
				</fieldset>
				<div class="form-group">
					{{ form.submit(class='btn btn-success float-right')}}
				</div>
			</form>	
			<div class="text-center col-12">
				<a href="{{ url_for('route.home') }}">
					<button type="button" class="btn btn-outline-dark">
					Already a Member? Login!
					</button>
				</a>
			</div>				
		</div>
	</div>
</div>
{% endblock %}