{% extends "layout.html" %}

{% block content %}
<div class="row">
	<div class="col-7">
		<div class="container mx-4 card p-3">
			<form method="POST" action="/reset_password_final/{{token}}">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">
						Reset Password
					</legend>
					<div class="form-group">
						{{ form.npassword.label(class="form-control-label")}}
						{{ form.npassword(class="form-control form-control-lg")}}
					</div>
					<div class="form-group">
						{{ form.cnpassword.label(class="form-control-label")}}
						{{ form.cnpassword(class="form-control form-control-lg")}}
					</div>
				</fieldset>
				<div class="form-group">
					{{ form.submit(class='btn btn-success float-right')}}
				</div>
			</form>	
			<div class="text-center col-12">
				<a href="{{ url_for('route.home') }}">
					<button type="button" class="btn btn-outline-dark">
					Already a Member? Login!
					</button>
				</a>
			</div>				
		</div>
	</div>
	<div class="col-4">
		Md
	</div>
</div>
{% endblock content%}



<!-- {% extends "layout.html" %}


{% block title %}
	<style>
		body {
			padding: : 10%;
		}
		.container{
			padding: 5%;
			max-width: 60%;
			border-radius: 20px;
		}
	</style>
{% endblock title%}

{% block content %}
	<div class="bg-light">
		<form  method="post" action="/reset_password_final/{{token}}">


			<label for="npassword"><strong>New Password:-</strong></label>
			
			<div class="container-fluid row">
				<div class="col-11">
					<input class="form-control" type="password" name="npassword" id="npassword_input" onchange="save_button_function()">
				</div>
				<div class="col-1">
					<label class="btn btn-light" id="npassword_show" onclick="show_password('npassword_input')">SHOW</label>
				</div>
			</div>




			<label for="cnpassword"><strong>Conform New Password:-</strong></label>

			<div class="container-fluid row">
				<div class="col-11">
					<input class="form-control" type="password" name="cnpassword" id="cnpassword_input" onchange="save_button_function()">
				</div>
				<div class="col-1">
					<label class="btn btn-light" id="cnpassword_show" onclick="show_password('cnpassword_input')">SHOW</label>
				</div>
			</div>


			


			<button class="btn btn-success float-right" type="submit" id="save_pasword_button" disabled>Save</button><br>
		</form>
	</div>
{% endblock content%}

{% block script %}


	<script>
		const show_password = (id) => {
		  var x = document.getElementById(id);
		  if (x.type === "password") {
		    x.type = "text";
		  } else {
		    x.type = "password";
		  }
		}
		const save_button_function = () => {
			password = document.getElementById("npassword_input");
			cpassword = document.getElementById("cnpassword_input");
			btn = document.getElementById("save_pasword_button");
			if (cpassword.value.length > 5){
				if(password.value === cpassword.value){
					btn.disabled = false;
				}
				else{
					btn.disabled = true;
				}
			}
			else{
				btn.disabled = true;
			}
		}
	</script>
{% endblock script %} -->