{% extends "layout.html" %}
{% block title %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/settings.css' )}}">
{% endblock title %}


{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="settings_nav col-sm-2 col-xs-12 col-md-2 col-lg-2">
				<button type="button" class="btn btn-light ">Reset password</button>
			</div>
			<div class="settings_feild col-sm-10 col-xs-12 col-md-10 col-lg-10">
				<div class="settings_feild_elements bg-light" id="reset_password_div">
					<form method="POST" action="">
						{{ form_password.hidden_tag() }}
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">
								Change Password.
							</legend>
							{% if current_user.password != "External Website Verified." %}
								<div class="form-group">
									{{ form_password.password.label(class="form-control-label")}}
									{% if form_password.password.errors %}
										{{ form_password.password(class="form-control form-control-lg is-invalid")}}
										<div>
											{% for error in form_password.password.errors %}
												<span class="text-danger">{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form_password.password(class="form-control form-control-lg")}}
									{% endif %}
								</div>
							{% endif %}
							<div class="form-group">
								{{ form_password.npassword.label(class="form-control-label")}}
								{% if form_password.npassword.errors %}
									{{ form_password.npassword(class="form-control form-control-lg is-invalid")}}
									<div>
										{% for error in form_password.npassword.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ form_password.npassword(class="form-control form-control-lg")}}
								{% endif %}
								<small class="font-weight-light">Your password is protected with proper Hashing algorithms.</small>
							</div>
							<div class="form-group">
								{{ form_password.cnpassword.label(class="form-control-label")}}
								{% if form_password.cnpassword.errors %}
									{{ form_password.cnpassword(class="form-control form-control-lg is-invalid")}}
									<div>
										{% for error in form_password.cnpassword.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ form_password.cnpassword(class="form-control form-control-lg")}}
								{% endif %}
								<small class="font-weight-light">Your password is protected with proper Hashing algorithms.</small>
							</div>
						</fieldset>
						<div class="form-group">
							<div class="row">
								<div class="col-6">
									{{ form_password.submit(class='btn btn-success float-right')}}
								</div>
							</div>
						</div>
					</form>		
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
